*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 70%;
  margin: 0 auto;
}

/* header */

header{
  background-image: url(../img/jumbo.png);
  background-size: cover;
  padding: .5rem 0;
  color: white;
  height: 25rem;
}

/* nav section */
header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem; 
}

header ul{
  display: flex;
  list-style: none;
}

header ul li{
  margin-left: 1rem;
}

header button{
  background-color: white;
  border: none;
  border-radius: 15px;
  padding: .5rem .5rem;
}
/* end nav section */

/* main title */
.title-container{
  margin: 2rem 6rem;
  text-align: center;
}

header h1{
  font-size: 2.5rem;
}

header p{
  margin: 1.5rem 0 1rem 0;
}

section.title-container button{
  margin-right: 1rem;
  padding: .6rem .9rem;
}

section.title-container button:last-child{
  background-color: black;
  color: white;
}


/* end title section */
/* end header */

/* main */

/* reverse section */
main section.row{
  display: flex;
  height: 20rem;
  margin: 2rem 0;
}

div.blue{
  flex-grow: 2;
  background-color: blue;
  
}

div.pink{
  flex-grow: 1;
  background-color: pink;
}

main section.reverse{
  flex-direction: row-reverse;
}

.gray{
  background-color: gray;
  padding: .5rem 0;
}

/* end reverse section */

/* green section */

section.green{
  background-color: green;
  height: 20rem;
}

/* end green section */
/* end main */

/* footer */

footer{
  background-color: black;
  padding-top: 1rem;
}
/* head footer */
footer section.staff{
  display: flex;
  margin-bottom: 2rem;
}

div.magenta,
div.acqua{
  height: 15rem;
}

div.magenta{
  background-color: magenta;
  flex-grow: 2;
}

div.acqua{
  background-color: aqua;
  border: 1px solid white;
  flex-grow: 1;
}

/* end head footer */
/* last logo */

section.last-logo{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: .5rem 0;
  background-color: aquamarine;
}

/* end last logo */
/* end footer */