*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 70%;
  margin: 0 auto;
}

header{
  background-color: blue;
}

header nav{
  display: flex;
  justify-content: space-between;
  background-color: orange;
  padding: .5rem;
}

header ul{
  display: flex;
  list-style: none;
}

header ul li{
  margin-left: 1rem;
}

header h1{
  background-color: rgb(233, 152, 165);
  width: 80%;
  height: 20rem;
  margin: 1rem auto;
}

main section.row{
  display: flex;
  height: 20rem;
}

div.blue{
  flex-grow: 2;
  background-color: blue;
  
}

div.pink{
  flex-grow: 1;
  background-color: pink;
}